<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Ys Library</title>
    
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <th:block th:replace="~{common/common :: common-head}"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
  <nav th:replace="~{fragments/header :: main-header}"></nav>

  <main class="flex-grow-1">
    <div layout:fragment="content">
    </div>
  </main>

  <footer th:replace="~{fragments/footer :: footer}"></footer>

  <th:block th:replace="~{common/common :: common-js}"></th:block>

  <th:block layout:fragment="script"></th:block>
</body>
</html>